
.hero {
    width: 100%;
    height: 100vh;
    background-color: #d1e6d5;
    /* background-color: #E2E2FF; */
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.hero .circle {
    position: absolute;
}
.hero .circle__small {
    top: -15rem;
    left: -21rem;
}
.hero .circle__large {
    bottom: -80rem;
    right: -60rem;
}
.hero .content {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
}
.hero .content .text {
    /* color: black; */
    flex: 1;
}
.hero .content .text h1 {
    text-transform: uppercase;
    font-size: calc(1rem + 4vw);
    line-height: 1.2;
}
.hero .content .text h1 span {
    color: purple;
}
.hero .content .text h5 {
    text-transform: uppercase;
    font-size: 1.9rem;
    font-weight: 800;
    margin: 6rem 0 3rem 0;
}
.hero .content .text p {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}
.hero .content .text .cta {
    font-size: 1.0rem;
    font-weight: 800;
    color:white;
    display: inline-block;
    padding: 0.5rem 2rem;
    background-color: purple;
    transition: background-color 0.5s;
    border: 2px solid purple;
    border-radius: 50px;
}
.hero .content .text .cta:hover {
    background-color: black;
    border: 2px solid black !important;
}
.hero .content .watch__wrapper {

    flex: 0 0 45%;
}
.hero .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
}
.hero .overlay .layer {
    background-color: white;
}
.hero .overlay .layer__1 {
    flex: 1;
}
.hero .overlay .layer__2 {
    flex: 1;
}
.hero .overlay .layer__3 {
    flex: 1;
}

@media only screen and (max-width: 900px) {
    .hero {
    width: auto;
    height: auto;
    }
    .hero .content {  
        display: block !important;
    }
    .hero .content .text h1 {
        font-size: 30px;
    }
    .hero .content .text h5 {
        font-size: 20px !important;
    }
    .hero .content .text p {
        font-size: 15px !important;
        margin-bottom: 3rem;
    }
    
  }




.lines{
	height: 400vh;
  background: black;
  color: white;
}

.header-section {
  margin: 100px auto 0;
}

svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: white;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif; 
  visibility: hidden;
}
