@font-face {
  font-family: "Gilroy-Light";
  src: url("./font/Gilroy-Medium.woff") format("woff");
}

body{
    font-family: 'Gilroy-Light';
    margin: 0;
    cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>‍👩🏻‍💻</text></svg>") 16 0,auto; 
}

/* SCROLL BAR */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  scrollbar-width: thin;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color:#515170;
  border-radius: 20px;
}
/* SCROLL BAR */

/* .portfolio_title {
  letter-spacing: 0;
  -webkit-text-stroke-color: #343A42;
  display: inline-block;
}
.text-stroke {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #343A42;
} */

.container2 {
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}
.red{
  background-color: red !important;
}

.App-main {
  padding: 200px 10% 10px 10%;
  margin: 0 auto;
  background: #FC466B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, salmon,#3F5EFB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, salmon, #3F5EFB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App-section {
  max-width: calc(80% - 50px);
  margin: 0 auto 100px auto;
  padding: 50px;
  background-color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.port-image{
  height: 350px !important;
}

.port-button{
  text-align: center;
  margin: auto;
  width: 20%;
  font-weight: 900;
  background-color: purple;
  transition: background-color 0.5s;
  border: 2px solid purple;
  border-radius: 20px;
}
.port-button a{
  text-decoration: none;
  color: white !important;
}

 a{
  text-decoration: none;
  color: blue !important;
  font-weight: 500;
}

@media only screen and (max-width: 900px) {
  .port-image{
  height: 120px !important;
  }
  .port-button{
    width: 100%;
  }
}

footer{
  background-color: #d1e6d5;
  padding: 20px;
  font-size: 18px;
  font-weight: 900;
}
.description{
  font-size: 20px !important;
}